# Keep LF line endings in every checkout (including Windows runners and editors) so scripts that
# parse or compare files (version check, licence check, changelog extraction) behave the same
# everywhere. Binary files are detected automatically.
* text=auto eol=lf
